* {
	font-family: Open Sans;
}

nav {
	position: sticky;
}

.nav, .nav-logo {
    margin: 1rem;
    display: inline;
}

.right-nav {
	float: right;
}


.tuitt-button {
	background-color: #c2195b;
	border-radius: 50px;
}

#bg-image {
	background-image: url("https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg");
	height: 100%;
	background-size: cover;
    background-position: center;
}

.container {
	height: 15rem;
	text-align: right;
}

.front-bg {
	background-color: rgba(0, 0, 0, .5);
}

.title.title-2 {
	font-family: Zilla Slab;
}

.title {
	color: white;
	text-align: right;
	padding-right: 6%;
 	padding-left: 50%;
	opacity: 1 !important;
}

.subtitle {
 	color: white; 
 	font-size: 1rem;
	padding-right: 6%;
 	padding-left: 50%;
}

.apply-button {
	background-color: #c2195b;
    border-style: none;
    border-radius: 50px;
    color: white;
    position: relative;
    right: 7rem
}

.intro {
	margin-bottom: 5rem;
}

.title-2 {
	text-align: center;
}

.intro-description {
	text-align: justify;
}



.pre-footer {
	background-color: #f7fbfb;
	height: 15rem;
}

.prefooter-description {
	text-align: center;
}

.book-button {
	background-color: #336589;
	border-radius: 50px;
    color: white;
    margin-bottom: 2rem;
    margin-left: 50%;
}

footer {
	text-align: center;
}